<?xml version="1.0"?>
<config>
    <modules>
        <Accorin_ReportAutomator>
            <version>0.0.1</version>
        </Accorin_ReportAutomator>
    </modules>
    <global>
        <blocks>
            <reportautomator>
                <class>Accorin_ReportAutomator_Block</class>
            </reportautomator>
            <adminhtml>
                <rewrite>
                    <report_sales_sales>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Sales</report_sales_sales>
                    <report_sales_tax>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Tax</report_sales_tax>
                    <report_sales_invoiced>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Invoiced</report_sales_invoiced>
                    <report_sales_shipping>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Shipping</report_sales_shipping>
                    <report_sales_refunded>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Refunded</report_sales_refunded>
                    <report_sales_coupons>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Coupons</report_sales_coupons>
                    <report_shopcart_product>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_ShopProduct</report_shopcart_product>
                    <report_shopcart_abandoned>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Abandoned</report_shopcart_abandoned>
                    <report_sales_bestsellers>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Bestsellers</report_sales_bestsellers>
                    <report_product_sold>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Sold</report_product_sold>
                    <report_product_viewed>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Viewed</report_product_viewed>
                    <report_product_lowstock>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Lowstock</report_product_lowstock>
                    <report_product_downloads>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Downloads</report_product_downloads>
                    <report_customer_accounts>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Accounts</report_customer_accounts>
                    <report_customer_totals>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Totals</report_customer_totals>
                    <report_customer_orders>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Orders</report_customer_orders>
                    <report_tag_customer>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Customer</report_tag_customer>
                    <report_tag_product>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_TagProduct</report_tag_product>
                    <report_tag_popular>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Popular</report_tag_popular>
                    <report_review_customer>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_ReviewCustomer</report_review_customer>
                    <report_review_product>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_ReviewProduct</report_review_product>
                    <report_search>Accorin_ReportAutomator_Block_Adminhtml_Rewrite_Search</report_search>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <reportautomator>
                <class>Accorin_ReportAutomator_Model</class>
                <resourceModel>reportautomator_mysql4</resourceModel>
            </reportautomator>
            <reportautomator_mysql4>
                <class>Accorin_ReportAutomator_Model_Mysql4</class>
                <entities>
                    <entries>
                        <table>reportautomator_entries</table>
                    </entries>
                    <report>
                        <table>reportautomator_report</table>
                    </report>
                    <log>
                        <table>reportautomator_log</table>
                    </log>
                </entities>
            </reportautomator_mysql4>
        </models>
        <helpers>
            <reportautomator>
                <class>Accorin_ReportAutomator_Helper</class>
            </reportautomator>
        </helpers>
        <resources>
            <accorin_reportautomator_setup>
                <setup>
                    <module>Accorin_ReportAutomator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </accorin_reportautomator_setup>
            <reportautomator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reportautomator_write>
            <reportautomator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reportautomator_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <reportautomator>
                    <file>reportautomator.xml</file>
                </reportautomator>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <reportautomator_schedule>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>reportautomator/observer::sendReport</model></run>
            </reportautomator_schedule>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<reportautomator before="Mage_Adminhtml">Accorin_ReportAutomator_Adminhtml</reportautomator>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
</config>
